##### Handle Categorical Features
###### One Hot Encoding

In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('titanic.csv',usecols=['Sex'])

In [6]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [9]:
pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [10]:
df=pd.read_csv('titanic.csv',usecols=['Embarked'])

In [14]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [16]:
df.dropna(inplace=True)

In [19]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

In [20]:
#### Onehotencoding with many categories in a feature

In [24]:
df=pd.read_csv('mercedes.csv',usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [25]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [32]:
for i in df.columns:
    print(len(df[i].unique()))

47
27
44
7
4
29
12

In [38]:
df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [40]:
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [41]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [42]:
import numpy as np
for categories in lst_10:
    df[categories]=np.where(df['X1']==categories,1,0)

In [49]:
lst_10.append('X1')

In [50]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o  X1
0      0  0  0  0  1  0  0  0  0  0   v
1      0  0  0  0  0  0  0  0  0  0   t
2      0  0  0  0  0  0  0  0  0  0   w
3      0  0  0  0  0  0  0  0  0  0   t
4      0  0  0  0  1  0  0  0  0  0   v
5      0  0  1  0  0  0  0  0  0  0   b
6      0  0  0  0  0  1  0  0  0  0   r
7      0  0  0  1  0  0  0  0  0  0   l
8      0  1  0  0  0  0  0  0  0  0   s
9      0  0  1  0  0  0  0  0  0  0   b
10     0  0  0  0  0  1  0  0  0  0   r
11     0  0  0  0  0  1  0  0  0  0   r
12     0  0  1  0  0  0  0  0  0  0   b
13     0  0  0  0  0  1  0  0  0  0   r
14     0  1  0  0  0  0  0  0  0  0   s
15     0  0  0  1  0  0  0  0  0  0   l
16     0  0  0  0  0  1  0  0  0  0   r
17     1  0  0  0  0  0  0  0  0  0  aa
18     0  0  0  0  0  0  0  0  1  0   c
19     0  0  0  0  0  0  0  1  0  0   a
20     0  1  0  0  0  0  0  0  0  0   s
21     1  0  0  0  0  0  0  0  0  0  aa
22     0  0  0  0  0  1  0  0  0  0   r
23     0  0  1  0  0  0  0  0  0  0   b
24     0  0  0  0  0  1  0  0  0  0   r
25     0  1  0  0  0  0  0  0  0  0   s
26     0  0  0  1  0  0  0  0  0  0   l
27     1  0  0  0  0  0  0  0  0  0  aa
28     0  1  0  0  0  0  0  0  0  0   s
29     0  0  1  0  0  0  0  0  0  0   b
...   .. .. .. .. .. .. .. .. .. ..  ..
4179   0  0  0  0  0  0  0  1  0  0   a
4180   0  0  0  0  1  0  0  0  0  0   v
4181   0  0  0  0  0  1  0  0  0  0   r
4182   0  0  0  0  1  0  0  0  0  0   v
4183   1  0  0  0  0  0  0  0  0  0  aa
4184   0  1  0  0  0  0  0  0  0  0   s
4185   0  0  0  0  1  0  0  0  0  0   v
4186   0  0  0  0  0  0  0  0  0  0   f
4187   0  0  0  1  0  0  0  0  0  0   l
4188   0  1  0  0  0  0  0  0  0  0   s
4189   0  1  0  0  0  0  0  0  0  0   s
4190   0  1  0  0  0  0  0  0  0  0   s
4191   0  0  0  0  1  0  0  0  0  0   v
4192   0  0  0  1  0  0  0  0  0  0   l
4193   0  0  0  0  1  0  0  0  0  0   v
4194   0  0  0  0  0  0  0  0  0  1   o
4195   0  0  0  1  0  0  0  0  0  0   l
4196   0  0  0  0  0  0  0  0  0  1   o
4197   0  0  0  0  1  0  0  0  0  0   v
4198   0  0  0  0  0  0  0  1  0  0   a
4199   1  0  0  0  0  0  0  0  0  0  aa
4200   1  0  0  0  0  0  0  0  0  0  aa
4201   0  0  0  0  1  0  0  0  0  0   v
4202   0  0  0  1  0  0  0  0  0  0   l
4203   0  1  0  0  0  0  0  0  0  0   s
4204   0  1  0  0  0  0  0  0  0  0   s
4205   0  0  0  0  0  0  0  0  0  1   o
4206   0  0  0  0  1  0  0  0  0  0   v
4207   0  0  0  0  0  1  0  0  0  0   r
4208   0  0  0  0  0  1  0  0  0  0   r

[4209 rows x 11 columns]